<div class="collapse bg-log" id="collapseExample">
  <div class="wrap">
    <div class="head li-clr">HairB2B Log in</div>
    <img class="close" src=""/>
    <form class="contactForm" name="form">
      <input class="input input-feild-size" required="required" type="email" name="email" placeholder="Enter your email"/><br />
      <input class="input input-feild-size" required="required" type="password" name="email" value="" placeholder="Enter your password"/><br>
      <button type="button" class="btn btn-outline-primary">Sign in</button>
    </form>
    <a href="" class="li-clr-sign-up">Forget Password</a>
    <p class="li-clr">Don't Have an account<a href="" class="li-clr-sign-up"> Sign up</a></p>
  </div>
</div>
