<header class="bg-head">
  <div class="wrap">
    <!-- logo -->
    <a href="#!"><img class="logo" src="" /></a>

    <!-- navigation menu -->
    <nav class="list">
      <ul>
        <li><a class="li-clr" href="" >HELP</a></li>
        <li><a  class="li-clr" href="">SIGN UP</a></li>
        <li><a href="" class="li-clr">ABOUT</a></li>
        <li style="margin-right:0px"><a id="contactBtn" class="li-clr" data-toggle="collapse" href="#collapseExample">
          SIGN IN
        </a>
        </li>
      </ul>
    </nav>
  </div>
</header>



